body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

/* 
Purple: 302D49 
Gold: FDD163
White: ffffff
314159 (?) color primary from another imk branch thingy
*/